.footer {
  background: $black;
  color: $white;
}

.footer-content {
  padding: 40px 0;
  display: flex;
  align-items: center;
}

.footer--logo {
  width: calc(100% / 8 * 2 + 30px);
}

.footer-nav {
  width: calc(100% / 8 * 3 + 60px);
}

.footer-nav-ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.footer-nav--item {
  margin: 7px 20px;
  font-size: 14px;
  list-style-type: none;

  a,
  a:link,
  a:visited,
  a:active,
  a:hover {
    color: #fff;
    text-decoration: none;
  }
}

.footer-contacts {
  margin-left: auto;
  width: calc(100% / 8 * 1.5 + 30px);
  display: flex;
  flex-direction: column;

  a,
  a:link,
  a:visited,
  a:active,
  a:hover {
    color: #fff;
    text-decoration: none;
  }
}

.footer-contacts--link {
  margin: 5px 0;

  img {
    margin-right: 10px;
  }
}

.footer-copy {
  font-size: 12px;
  margin-top: 10px;
}
