.tech {
  background: radial-gradient(363.5px at 50% 50%,#fff 0,#fff 72.32%,hsla(0,-1%,100%,0) 100%),url(../img/tech-pattern.png) 0 -50px /35%;
}

.tech-slider {
  margin: 0 auto;
  margin-top: 40px;
  width: calc((100% / 8 * 6) );
}

.tech-slider-item--logo {
  text-align: center;
  width: calc((100% / 4 * 2))
}

.tech-slider-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
  padding: 0px; 
  text-align: center;
}

.tech-slider-item--heading {
  font-family: 'Lato';
  font-weight: 700;
  font-size: 25px;
  display: inline-block;
  border-bottom: 2px solid $primary;
  margin-bottom: 0;
  padding-bottom: 10px;
  text-align:center;
}

.tech-slider-item--desc {
  font-size: 16px;
  line-height: 1.5;
}

.tech-slider-item-text {
  width: calc((100% ));
}

.tech-slider .flickity-prev-next-button {
  background: transparent;

  .arrow {
    fill: $annotation;
    opacity: .4;
  }

}
@media screen and (min-width:320px) {
  .tech-slider-item{
    flex-direction: column
  }
  .tech-slider-item-text{
    width: calc((100%));
  }
}
@media only screen and (min-width:900px) {
  .tech-slider-item {
    flex-direction: row;
  }
}
