.what-we-do-type {
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.what-we-do-type__left {
  background-position: right;
  text-align: left;
}

.what-we-do-type__right {
  background-position: left;
  text-align: right;
  
  .what-we-do-type-container {
    margin-left: calc(100% / 8 * 4.5);
  }
}

.what-we-do-type-container {
  width: calc(100% / 8 * 4.5);
  padding: 80px 0;

  .button.button__cta {
    width: calc(50%);
    margin-bottom: 65px;
  }
}

.what-we-do-type__lp {
  background-image: url('/src/img/lp-mockup.png');
}

.what-we-do-type__corp {
  background-image: url('/src/img/corp-mockup.png');
}

.what-we-do-type__smm {
  background-image: url('/src/img/smm-mockup.png');
}

.what-we-do-type__services {
  background-image: url('/src/img/services-mockup.png');
}

.what-we-do-type--heading {
  display: inline-block;
  border-bottom: 2px solid $primary;
  font-family: 'Lato';
  font-weight: 900;
  font-size: 36px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.what-we-do-type--text {
  font-size: 20px;
  line-height: 1.7;
  margin-top: 14px;
  margin-bottom: 33px;
}

.what-we-do-type--annotation {
  color: $annotation;
  font-size: 14px;
  line-height: 1.5;
}

@media screen and (min-width:320px) {
  .what-we-do-type__lp {
    background-image: none;
  }

  .what-we-do-type__corp {
    background-image: none;
  }

  .what-we-do-type__smm {
    background-image: none;
  }

  .what-we-do-type__services {
    background-image: none;
  }
}

@media screen and (min-width:768px) {
  .what-we-do-type__lp {
    background-image: url('/src/img/lp-mockup.png');
  }

  .what-we-do-type__corp {
    background-image: url('/src/img/corp-mockup.png');
  }

  .what-we-do-type__smm {
    background-image: url('/src/img/smm-mockup.png');
  }

  .what-we-do-type__services {
    background-image: url('/src/img/services-mockup.png');
  }
}