$primary: #fa5d7c;
$white: #fff;
$black: #000;
$annotation: #727272;

body {
  font-family: 'Source Sans Pro';
  font-weight: 300;
}

a {
  color: $primary;
}

* {
  box-sizing: border-box;
}

.wrapper {
  width: 1076px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  padding: 20px;
  font-family: 'Source Sans Pro';
  font-weight: 700;
  text-align: center;
  color: $primary;
  font-size: 18px;

  &:active,
  &:hover,
  &:link,
  &:visited,
  & {
    text-decoration: none;
  }

  &__cta {
    background-color: $primary;
    color: $white;
    $white: #fff;
    $black: #000;
  }

  &__stroke {
    border: 2px solid;
    font-weight: 500;
  }
}

.centered {
  display: block;
  margin: 0 auto;
  width: calc((100% / 8 * 2) + 30px);
}

.section {
  padding: 75px 0;
  padding-bottom: 0;

  &__padded {
    padding-bottom: 75px;
  }
}

.section--heading {
  font-family: 'Lato';
  font-weight: 900;
  text-align: center;
  font-size: 42px;
  margin-bottom: 15px;

  &__nosub {
    margin-bottom: 75px;
  }
}

.section--subheading {
  font-family: 'Source Sans Pro';
  margin: 0 auto;
  width: calc(100% / 8 * 6);
  font-size: 18px;
  line-height: 1.6;
}
